main{
    display: flex;
    flex-direction: column;

        .Quadrinhos1, .Quadrinhos2, .Quadrinhos3{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: none;
            padding-bottom: 40px;
            padding-top: 40px;
        }

        h2{
            font-size: 64px;
            padding-top: 80px;
            padding-bottom: 40px;
        }

        img{
            width: 560px;
        }

        @media (max-width: 768px) {
            
            h2{
                font-size: 44px;
            }
                 
            img{
                width: 300px;
            }
        } 
}
